@model IEnumerable<BTL_Web_Cinema.Models.Entities.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayOut_Admin.cshtml";
}

<h2>DANH SÁCH PHIM</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaNhapPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaNhapPhim)
        </td>
        <td>
            <img style="width:180px;height:200px" src="~/Content/Images/@item.Anh" alt="" />
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaPhim }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaPhim }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaPhim })
        </td>
    </tr>
}

</table>

<ul class="pagination">
    @{
        int numberPage = ViewBag.numberPage;
        int pageCurrent = ViewBag.pageCurrent;

        if (pageCurrent > 1)
        {
            int prePage = pageCurrent - 1;
            <li class="active"><a href="?page=@prePage"><<</a></li>
        }
        for (int i = 1; i <= numberPage; i++)
        {
            if (i == pageCurrent)
            {
                <li class="active"><a href="?page=@i">@i</a></li>

            }
            else
            {
                <li class=""><a href="?page=@i">@i</a></li>
            }
        }
        if (pageCurrent >= 1 && pageCurrent < numberPage)
        {
            int nextPage = pageCurrent + 1;
            <li class="active"><a href="?page=@nextPage">>></a></li>
        }
    }
</ul>

