@model IEnumerable<BTL_Web_Cinema.Models.Entities.PhongChieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayOut_Admin.cshtml";
}

<h2>PHÒNG CHIẾU</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoPhongChieu }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoPhongChieu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoPhongChieu })
        </td>
    </tr>
}

</table>
