@model BTL_Web_Cinema.Models.Entities.LichChieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayOut_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LichChieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaChieu1.TenCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaChieu1.TenCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phim.TenPhim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phim.TenPhim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhongChieu.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongChieu.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienVe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSuatChieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
